@import '../../layout/Theme.scss';

.appbar {
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.75);
  z-index: 100;

  padding: 10px 20px;
  max-height: 65px;
  background-color: $color-white;

  .logo {
    margin-top: 9px;
  }

  &.color {
    &--primary {
      /* background-color: $color-primary; */
      /* background: rgb(112, 173, 225);
      background: linear-gradient(90deg, rgba(112, 173, 225, 1) 0%, rgba(25, 187, 210, 1) 35%, rgba(155, 181, 223, 1) 100%); */
      /* color: $color-white; */
      border-top: 5px solid $color-secondary;
    }
  }
}
