@import '../../../layout/Theme.scss';

$control-panel-width: 500px;

.control-panel {
  background-color: #ffffffdb;
  height: 84vh; // rework this
  width: $control-panel-width;
  padding: 40px 20px;
  top: 80px;
  position: absolute;

  .divider {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 90%;
    opacity: 0.3;
  }

  .collapser {
    position: absolute;
    left: $control-panel-width;
    top: 13px;
    background: none;
    border: none;
    padding: 10px;
    font-size: 18px;
  }

  .control-panel-row {
    padding: 0 8px;
  }

  .prediction-label {
    margin-bottom: 30px;
  }

  .prediction-slider {
    padding: 0 3px;
  }
}

.react-switch {
  .react-switch-bg {
    background: rgb(92, 176, 221) !important;
  }
}

.colorpatch {
  width: 20px;
  height: 20px;
  border-radius: 20px;

  &--covid {
    background-color: #aa84b1;
  }
}

.cp--ic {
  width: 15px;
  height: 20px;
  float: left;

  &--good {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #17bf17;
  }

  &--medium {
    background-color: #ece515;
  }

  &--critical {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f36b42;
  }
}
