@import "../../layout/Theme.scss";

@mixin commonShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

$borderRadius: 6px;

.location-search {
  position: relative;
  width: 100%;
  height: 3.5rem;
  &__icon-wrapper,
  &__reset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3.5rem;
  }
  /* &__icon-wrapper {
    &:after {
      content: '';
      position: absolute;
      right: 0.25rem;
      top: 0.5875rem;
      bottom: 0.5875rem;
      width: 2px;
      background-color: $color-grey;
    }
  } */
  &__reset-wrapper {
    right: 0;
    left: auto;
    width: 3rem;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  input {
    @include commonShadow();
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    font-size: 1rem;
    color: #333;
    border-radius: $borderRadius;
    border: none;
    outline: none;
  }

  &__dropdown {
    @include commonShadow();
    position: relative;
    z-index: 999;
    margin-top: 0.5rem;
    border-radius: $borderRadius;
    background-color: white;
    color: #333;
    font-size: 1rem;

    &--suggestion-item {
      padding: 0.75rem;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
        border-radius: $borderRadius;
      }
    }
  }
}
