// colors
$color-primary: #64a3dc;
$color-secondary: #df0a14;
$color-highlight: #8dacda;
$color-white: #fff;
$color-grey: #797979;

// font
$font-primary: 'Roboto', sans-serif;

// sizes
$footer-height: 19px;
